<div class="container text-center pt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4 fw-normal pt-3">Hola <span class="text-primary">{{ currentUser.name }}</span>, <span *ngIf="currentUser.gender == 'Hombre'; else female">Bienvenido!</span> 👋</h1>
            <ng-template #female><span>Bienvenida!</span></ng-template>
            <div class="col-12 col-lg-8 offset-lg-2">
                <p class="lead fw-normal pt-3">¿<span *ngIf="currentUser.gender == 'Hombre'; else female2">Listo</span> para comenzar? Navega fácilmente usando la barra lateral, donde encontrarás todas las opciones que necesitas. Estamos emocionados de acompañarte en tu jornada de hoy.</p>
                <ng-template #female2><span>Lista</span></ng-template>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center pt-5">
            <div class="text-center p-3 bs-3 quote-container shadow rounded pt-5">
                <blockquote class="text-secondary" *ngIf="quoteText">
                    <p>{{ quoteText }}</p>
                    <footer>— {{ quoteAuthor }}</footer>
                </blockquote>
                <p *ngIf="!quoteText">Frase del día...</p>
            </div>
        </div>
    </div>
</div>