<div class="container">
  <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-4">
          <form (submit)="onSubmit()">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" [(ngModel)]="username" name="username" class="form-control" id="username" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" required>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
          </form>
      </div>
  </div>
</div>