.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    border: 1px solid #ddd;
}

.card-header {
    background-color: #f8f9fa;
}
.imgTable{
    max-width: 20vw;
}

@media (min-width: 1000px) {
    .imgTable{
        max-width: 10vw;
    }
}